

body {
    --primary-color: #00161b;
    --primary-color-op: #00161b90;
    --secondary-color: #d9cbb8;
    --secondary-color-op: #d9cbb880;
    background-color: var(--primary-color);
}

.App {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    box-sizing: border-box;
}

/* Navigation */

#navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.nav-item {
    color: var(--primary-color);
    border-radius: .5rem;
    border: var(--primary-color) 1px solid;
    padding: .5em 1.25em;
    cursor: pointer;
    margin: 0 2em;
    transition: color linear 500ms, background-color linear 250ms;
}

.nav-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* About section */

#about-container {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 60vh auto;
}

#photo-wrapper {
    height: 100%;
    width: 100%;
}

#photo-wrapper > img {
    height: 100%;
    width: 100%;
}

#bio-wrapper {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: clamp(.5rem, 1vw + .5rem, 2.5rem);
    padding: 0 2rem;
    color: var(--secondary-color);
    background-image: linear-gradient(to right, #000 10%, var(--primary-color));
    cursor: default;
}

/* Socials section */

#socials-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--secondary-color);
}

.socials-item {
    height: 50px;
    width: 50px;
    margin: 2rem;
    background-color: #d9cbb8;
    border-radius: 50%;
    transition: transform linear 250ms;
}

.socials-item:hover {
    transform: scale(1.3);
}

.socials-item-icon {
    width: 44px;
    padding: 3px;
    transition: transform 100ms;
}

.socials-item-icon:hover {
    transform: scale(1.2);
}

/* Projects section*/

#projects-container {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, #000, var(--primary-color));
    padding: 0 10%;
    display: block;

}

#projects-container h2 {
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 2rem;
}

.projects-item {
    width: 40%;
    height: 50vh;
    transition: all 500ms ease;
    overflow: hidden;
    margin: 2rem 5%;
    border-radius: 1rem;
    display: grid;
    float: left;
}

.projects-item-headline {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    padding: .25em .5em;
    z-index: 5;
    color: var(--secondary-color);
    background-color: var(--primary-color-op);
    backdrop-filter: blur(5px);
    transition: 500ms ease;
    align-self: flex-end;
    height: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.projects-item-headline a {
    color: var(--secondary-color);
}

.projects-item-description {
    color: var(--primary-color);
    z-index: 10;
    font-size: 1.5rem;
    background-color: var(--secondary-color-op);
    backdrop-filter: blur(5px);
    padding: 1.5em;
    transform-origin: top;
    transition: 500ms ease;
    transform: scaleY(0);
    height: min-content;
    position: sticky;
    top: 0;
    border-radius: 1rem;
}

.projects-item:hover .projects-item-description, .projects-item:focus .projects-item-description {
    transform: scaleY(1);
}

.projects-item:hover .projects-item-headline {
    border-radius: 0;
}

/* Footer */

#footer {
    width: 100%;
    height: 60px;
    display: grid;
    text-align: center;
    align-items: center;
    background-color: #000000;
    color: var(--secondary-color);
    padding-bottom: 2rem;
    cursor: default;
    transition: text-shadow ease-in-out 250ms;
}

#footer:hover {
    text-shadow: var(--secondary-color) 0 0 1rem, var(--secondary-color) 0 0 2rem;
}

#scroll-to-top-icon {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
    left: calc(50% - 20px);
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: transform linear 250ms;
}

#scroll-to-top-icon:hover {
    transform: scale(1.3);
}