

body {
    --primary-color: #00161b;
    --primary-color-op: #00161b90;
    --secondary-color: #d9cbb8;
    --secondary-color-op: #d9cbb880;
    background-color: var(--primary-color);
}

.App {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    box-sizing: border-box;
}

/* Navigation */

#navbar {
    width: 100%;
    height: 50px;
    padding: .5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.nav-item {
    color: var(--primary-color);
    border-radius: .5rem;
    border: var(--primary-color) 1px solid;
    padding: .5em 1.25em;
    cursor: pointer;
    margin: 0 2em;
}

.nav-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* About section */

#about-container {
    width: 100%;
    height: 600px;
    display: inline-flex;
}

#photo-wrapper {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-wrapper > img {
    height: 100%;
    z-index: 3;
}

#bio-wrapper {
    height: 600px;
    display: flex;
    align-items: center;
    text-align: left;
    position: absolute;
    left: 150px;
    padding-right: 10em;
    color: var(--secondary-color);
    background-image: linear-gradient(to left bottom, var(--secondary-color) 30%, var(--primary-color));
}

#bio-wrapper p {
    z-index: 6;
    background-color: var(--primary-color-op);
    padding: 3em;
    border-radius: 3em;
    min-width: 200px;
    backdrop-filter: blur(10px);
}

/* Socials section */

#socials-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--primary-color-op);
}

.socials-item {
    height: 50px;
    width: 50px;
    margin: 2rem;
    background-color: #d9cbb8;
    border-radius: 50%;
    transition: transform 100ms;
}

.socials-item:hover {
    transform: scale(1.3);
}

.socials-item-icon {
    width: 44px;
    padding: 3px;
    transition: transform 100ms;
}

.socials-item-icon:hover {
    transform: scale(1.2);
}

/* Projects section*/

#projects-container {
    width: 80%;
    height: auto;
    background-color: var(--primary-color-op);
    padding: 0 10%;
    display: block;
}

#projects-container h2 {
    width: 80%;
    color: var(--secondary-color);
    text-align: center;
    padding: 0 10%;
}

.projects-item {
    width: 100%;
    height: 600px;
    transition: 500ms ease;
    overflow: hidden;
    margin: 3rem 0;
    border-radius: 1rem;
    display: grid;
}

.projects-item-headline {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    padding: .25em .5em;
    z-index: 5;
    color: var(--secondary-color);
    background-color: var(--primary-color-op);
    backdrop-filter: blur(5px);
    transition: 500ms ease;
    align-self: flex-end;
    height: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.projects-item-headline a {
    color: var(--secondary-color);
}

.projects-item-description {
    color: var(--primary-color);
    z-index: 10;
    font-size: 1.5rem;
    background-color: var(--secondary-color-op);
    backdrop-filter: blur(5px);
    padding: 1.5em;
    transform-origin: top;
    transition: 500ms ease;
    transform: scaleY(0);
    height: min-content;
    position: sticky;
    top: 0;
    border-radius: 1rem;
}

.projects-item:hover .projects-item-description, .projects-item:focus .projects-item-description {
    transform: scaleY(1);
}

.projects-item:hover .projects-item-headline {
    border-radius: 0;
}

/* Footer */

#footer {
    width: 100%;
    height: 60px;
    display: grid;
    text-align: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#scroll-to-top-icon {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
    left: calc(50% - 20px);
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: transform 100ms;
}

#scroll-to-top-icon:hover {
    transform: scale(1.3);
}

@media (max-width: 1000px){
    #bio-wrapper p {
        font-size: .8rem;
    }
}

@media (min-width: 1001px) {
    #bio-wrapper p {
        font-size: 1.3rem;
    }
}